# Local Environment Secrets
.env
.env.local

# AI/ML Local Model Weights Cache
.cache/
.pytest_cache/
__pycache__/
*.pyc

# Python Virtual Environment
.venv/

# Downstream Frontend build targets
frontend/node_modules/
frontend/.astro/
frontend/dist/